#deletemodal{
   // display: flex;
    background-color: #511D0D ;
    color: #fff;
    border-radius: 15px;
    width: 638px;
    
}
#modal-modal-title{
    padding-top: 60px;
    margin: 0 auto;
}
.deleteModalcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exit_button{
    display: flex;
    justify-content: end;
}
.title{
    font-family: 'inter';
    font-size: 28px;
    line-height: 33.89px;
    font-weight: 500;
}
.sub-title{
    font-family: 'inter';
    font-size: 21px;
    line-height: 25.41px;
    padding: 23px;
    font-weight: 500;
}
.confirm{
    display: flex;
    margin: 41px;

}
.confirm_button{
    font-family: 'Felipa';
    //margin-top:41px;
    flex-basis: 90%;
    height: 93.37px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 44px;
    color: #511D0D;
}
.close_button{
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-bottom: 80px;

}
.close_modal_button{
     background: "white";
     border: "none";
     border-radius: 50%;
    width: 50px;
    height: 50px;
}
#close_icon{
    font-size: 35px !important ;
}