.first_column{
    margin-right: 50px;
}
.second_column{
    margin-right: 50px;
}

.container{
    background-color: #80461B;
}
.banner_row{
    margin-bottom: 25.4px;
    color: black;
}
.full_banner_image{
    width: 100%;
}
.last_banner{
    margin-bottom: 39px;
}
.app_buttons{
    margin-top: 23px;
}
.banner_image{
    width: 100%;
    
}


