.banner_column {
    margin-right: 50px;
}

.second_column {
    margin-right: 50px;
}

.container {
    background-color: #80461B;
}

.banner_row {
    margin-bottom: 25.4px;
    color: black;
    height: 270px;
}

.full_banner_image {
    width: 100%;
}

.last_banner {
    height: 325px;
    width: 100%;
}

.app_buttons {
    margin-top: 10px;
}

.banner_image {
    width: 100%;
    height: 100%;

}