.first_column{
    margin-right: 50px;
}
.second_column{
    margin-right: 50px;
}
.container{
    background-color: #80461B;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right : 'auto';
    // margin-left : 'auto',
}
.coffee_row{
    margin-bottom: 25.4px !important;
    color: black;
}