.rewards_row{
    // background-color: #80461B;
    //margin-top: 200px;
   
 }
 .child_div{

    //height: 30px;

    // background-color: #FFFFFF;
        position: relative;
        //top: -180px;
      
 }
 .reward_background_div{
    background-color: #FFFFFF;
    height: 32.31px;
 
 }

