.battery_line {
  height: 7%;
  background-color: black;
  border-radius: 3px;
  flex: 1;
  margin-bottom: 8px;
}

.battery_text {
  height: 7%;
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #000000;
}

.battery_button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
}